<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.amazonaws.services.lambda.runtime.log4j2.LambdaAppender">
  <Appenders>
    <Lambda name="LAMBDA">
      <PatternLayout pattern="%X{AWSRequestId} | %-5p | %c{1}:%L - %m"/>
    </Lambda>
  </Appenders>
  <Loggers>    
    <Logger name="com.amazonaws" level="error" additivity="false">
		<AppenderRef ref="LAMBDA" />
    </Logger>
    
    <Logger name="helloworld" level="debug" additivity="false">
		<AppenderRef ref="LAMBDA" />
    </Logger>
    
    <Root level="info">
      <AppenderRef ref="LAMBDA" />
    </Root>
  </Loggers>
</Configuration>